# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
key/
lib/
test-login/
*.local
functions/node_modules/
functions/lib/
functions/keys/
functions/.env
.env

.DS_Store